<!doctype html>
  <html>
    <head>
      <meta charset='utf-8'>
      <title>Enter a new book</title>
    </head>
      <body>
          <form method='post' action='/remove'>
            <label for='delete_author'>Author:</label>
            <input type='text' name='deleteAuthor' id='delete_author' placeholder="Enter author's name">
            <input type='submit' value='submit'>
          </form>
      </body>
  </html>
